<form [formGroup]="partnerForm" (ngSubmit)="submit()">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Save Partner</h5>
            <button type="button" class="btn-close" (click)="dismiss()"></button>
        </div>
        <div class="modal-body">
            <div class="input-group mb-3">
                <label for="name" class="input-group-text">Name</label>
                <input type="text" class="form-control" placeholder="Name" id="name" formControlName="name"
                    [ngClass]="{ 'is-invalid': hasError(name) }" required>
                <ng-container *ngTemplateOutlet="error; context: { control: name, label: 'Name' }"></ng-container>
            </div>
            <div class="form-group border rounded" formGroupName="limit" id="limit">
                <label class="form-label">Limit</label>
                <div class="form-group border rounded mb-3" formGroupName="daily" id="daily">
                    <label class="form-label">Daily</label>
                    <div class="row align-items-start m-0">
                        <div class="input-group col mb-3 p-0">
                            <label for="amount" class="input-group-text">Amount &#8377;</label>
                            <input type="number" class="form-control text-end" id="amount" formControlName="amount"
                                [ngClass]="{ 'is-invalid': hasError(limit.daily.amount) }" required>
                            <ng-container
                                *ngTemplateOutlet="error; context: { control: limit.daily.amount, label: 'Amount' }">
                            </ng-container>
                        </div>
                        <div class="input-group col mb-3 p-0">
                            <label for="numberOfLoans" class="input-group-text">Number of Loans</label>
                            <input type="number" class="form-control text-end" id="numberOfLoans" formControlName="numberOfLoans"
                                [ngClass]="{ 'is-invalid': hasError(limit.daily.numberOfLoans) }" required>
                            <ng-container
                                *ngTemplateOutlet="error; context: { control: limit.daily.numberOfLoans, label: 'Number of Loans' }">
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="form-group border rounded mb-3" formGroupName="monthly" id="monthly">
                    <label class="form-label">Monthly</label>
                    <div class="row align-items-start m-0">
                        <div class="input-group col mb-3 p-0">
                            <label for="amount" class="input-group-text">Amount &#8377;</label>
                            <input type="number" class="form-control text-end" id="amount" formControlName="amount"
                                [ngClass]="{ 'is-invalid': hasError(limit.monthly.amount) }" required>
                            <ng-container
                                *ngTemplateOutlet="error; context: { control: limit.monthly.amount, label: 'Amount' }">
                            </ng-container>
                        </div>
                        <div class="input-group col mb-3 p-0">
                            <label for="numberOfLoans" class="input-group-text">Number of Loans</label>
                            <input type="number" class="form-control text-end" id="numberOfLoans" formControlName="numberOfLoans"
                                [ngClass]="{ 'is-invalid': hasError(limit.monthly.numberOfLoans) }" required>
                            <ng-container
                                *ngTemplateOutlet="error; context: { control: limit.monthly.numberOfLoans, label: 'Number of Loans' }">
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!partnerForm.valid">Save</button>
            <button type="button" class="btn btn-secondary" (click)="dismiss()">Close</button>
        </div>
    </div>
</form>
<ng-template #error let-control="control" let-label="label">
    <div class="invalid-feedback" *ngIf="hasError(control)">
        <span *ngIf="control.errors.required">{{ label }} is required</span>
    </div>
</ng-template>