<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Confirm</h5>
        <button type="button" class="btn-close" (click)="dismiss()"></button>
    </div>
    <div class="modal-body text-center">
        <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="close()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="dismiss()">No</button>
    </div>
</div>